PORT=3001
NODE_ENV=development
# [development, test, production]

# Database
REDIS_URI=redis://127.0.0.1:6379
MONGO_URI=mongodb://127.0.0.1:27017/test-db?retryWrites=true&w=majority

# Email (Generate gmail app password from "https://myaccount.google.com/apppasswords")
SYS_GMAIL_USER=your@gmail.com
SYS_GMAIL_PASS=app-password

# JWT
SYS_JWT_ACCESS_EXPIRE=1m
SYS_JWT_ACCESS_SECRET="random secret"
SYS_JWT_REFRESH_EXPIRE=7d
SYS_JWT_REFRESH_SECRET="random secret"

# No Auth System
SYS_ADMIN_EMAIL=admin@email.com
SYS_SSO_UUID=uuid
SYS_SSO_URL="{noauth frontend}/sso/v1/{SYS_SSO_UUID}"
SYS_SSO_WEBHOOK_URL="your backend webhook"
SYS_SSO_REDIRECT_URL="on successful login redirect to"
SYS_SSO_LOGIN_METHOD=OTP # OTP | MAGIC_LINK

NO_AUTH_SSO_SECRET=nanoid
NO_AUTH_API_KEY_SECRET=nanoid (not in use)